.folder-container{
    width: 70%;
    margin: auto;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: .5em;
}

.dir-div{
    height: 130px;
    width: 130px;
    position: relative;
    top: 0;
    transition: .4s;
    /* border: 1px solid #555; */
}

.dir-div:hover{
    top: -15px;
}

.dir-div a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    border-radius: 10px;
    transition: .2s;
    padding: .1em;
}

.dir-div a:hover{
    background: var(--light-blue);
}

.dir-div a .folder-link{
    max-width: 100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--base-color);
}

.dir-div svg{
    width: 80%;
}