.folder-container{
    margin: auto;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: .5em;
}

body{
    padding: .5em 0;
}

.folder-container.drives{
    justify-content: center;
}

.dir-div{
    height: 130px;
    width: 130px;
    /* border: 1px solid #555; */
}

.dir-div a{
    position: relative;
    top: 0;
    left: 0;
    transition: .4s;
}

.dir-div:hover a{
    top: -12px;
}

.dir-div a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    border-radius: 10px;
    transition: .3s ease-out;
    padding: .1em;
    font-size: .85em;
}

.dir-div a:hover{
    background: var(--light-blue);
}

.dir-div a .folder-link{
    max-width: 100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--base-color);
}

.dir-div svg{
    width: 80%;
    height: 100%;
}

.dir-div.drive svg{
    width: 70%;
}

.folder-explorer{
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-grow: 1;
    overflow: hidden;
    /* position: relative; */
}

.folder-explorer>div{
    background-color: var(--xlight-grey);
}

.folder-explorer .folder-container.drives{
    flex-direction: column;
    position: relative;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
}

.separator{
    background-color: var(--base-color);
    width: 0px;
    height: 80%;
    height: 100%;
    margin: auto 0;
}

.folder-explorer .folder-container.drives .dir-div:hover a{
    top: 0;
    left: -12px;
}
.inner{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow-y: scroll;
    position: relative;
    --scrb-top: 0;
    --scrb-hgt: 100px;
    padding: 1em 2em;
}

.folder-explorer .inner:first-child{
    flex: 5;
}

.folder-explorer .inner:last-child{
    flex: 1;
}

.title{
    background-color: var(--xlight-grey);
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--base-color);
    padding: 2em 0;
}

.file-exp{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.folder-buttons{
    display: flex;
    flex-direction: row;
    gap: .4em;
}

.folder-button{
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;

    border-radius: 5px;
    padding: .6em 1.2em;
    font-size: .8em;
    cursor: pointer;
    box-shadow: inset -4px -7px 12px 2px #0000001f;
    border: 1px solid var(--light-grey);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s;
}
.folder-button:last-child{
    font-weight: 800;
    font-size: .9em;
}
.folder-button:hover{
    box-shadow: inset -4px -7px 12px 2px #00000011;
}

.inner::-webkit-scrollbar {
    display: none;
}

.inner {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.inner .scrollbar{
    position: absolute;
    width: 10px;
    background-color: var(--base-color);
    top: var(--scrb-top);
    height: var(--scrb-hgt);
    right: 0;
    opacity: 0;
    border-radius: 5px;
    /* transition: .05s; */
}

.inner:hover .scrollbar:not(.invisible){
    opacity: .3;
}